body {
  font-family: "Source Sans Pro", sans-serif !important;
}
.trophyRoom ul {
  list-style: none;
}
.bottomForm input,
.bottomForm button {
  width: 15%;
  margin: 40px 5% 10px 5%;
  border: 1px solid black;
  font-size: 1.2em;
}
.bottomForm input {
  padding-left: 5px;
}
.bottomForm button {
  padding-bottom: 0;
}

.bottomForm button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
.nav-links {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-links li {
  font-size: 1em;
  padding: 0 10px;
  width: 100%;
}
.nav-links .logo h1 {
  font-size: 2.5em;
  padding-top: 0;
}
ul.nav-links {
  padding-left: 0;
}
.nav-links a {
  width: 100%;
  text-align: center;
}
.nav-links a:hover {
  color: black;
  text-decoration: underline;
}
.nav-links h3 {
  font-size: 1em;
  padding-top: 0;
}
.logo {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  text-align: center;
}
.logo h1 {
  font-size: 5em;
  margin-bottom: 0.25em;
  font-weight: 800;
  padding-top: 60px;
}
.form input {
  border: 2px solid black;
}
.logo span {
  font-size: 50%;
}
.login button.btn.btn-secondary {
  float: left;
  width: 30%;
  margin: 10%;
}
button.btn.btn-secondary {
  border: 2px solid black;
  background-color: white;

  color: black;
}
button.verify {
  margin: 20px auto;
  width: 30%;
  display: block;
}
h2.verify {
  text-align: center;
  margin: 20px auto;
  width: 30%;
  display: block;
}
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}
button.btn.btn-secondary:hover {
  color: white;
  background-color: black;
  transition-duration: 0.3s;
}
input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 0.3s;
}

.starGroup {
  text-align: center;
}

#ratingSubmit {
  width: 15%;
  margin: 40px 5% 10px 5%;
  border: 1px solid black;
  font-size: 1.2em;
}

#ratingSubmit:hover {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
#imageUpload {
}
