// General //

// Login Page //

body {
  background-color: grey;
}

nav {
  background-color: #47632c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
nav a {
  color: black;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.trash-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
.trophy-img {
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.trash-button:hover {
  background-color: #d1dfe8;
}

.login-form {
  justify-content: space-around;
}
.insufficient {
  background-color: red;
  display: inline-block;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1528190336454-13cd56b45b5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1 {
  background-image: url("https://cdn.pixabay.com/photo/2017/10/31/21/26/brick-2906556_960_720.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#aboutBody {
  padding: 20px;
  background-color: #264541;
  color: white;
}
.map {
  width: 100vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#aboutBody {
  background-color: #254540;
  color: whitesmoke;
  padding: 40px;
}

.aboutHeading {
  font-weight: bold;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1.5em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

#guestCredentialsLogin {
  text-align: left;
  margin-left: 278px;
}
#map_gallery_button {
  margin-left: 48px;
  margin-bottom: 10px;
  font-size: 17pt;
}
#button_group {
  text-align: center;
  margin-bottom: 45px;
}
.clean_success {
  border: solid black 3px;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 1;
  background-color: #2c6ee6;
  transition: 0.3s;
}

.clean_success:hover {
  background-color: #2158bd;
}
.pending_their_confirm {
  border: solid black 3px;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 1;
  background-color: #ffd400;
  transition: 0.2s;
}

.pending_their_confirm:hover {
  background-color: #ffbc00;
}
.report_success {
  border: solid black 3px;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 1;
  background-color: #3fad11;
  transition: 0.2s;
}
.report_success:hover {
  background-color: green;
}
.pending_clean {
  border: solid black 3px;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 1;
  background-color: #b95e00;
  transition: 0.2s;
}

.pending_clean:hover {
  background-color: #a45503;
}
.pending_your_confirm {
  border: solid black 3px;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 1;
  background-color: #f73030;
  transition: 0.2s;
}

.pending_your_confirm:hover {
  background-color: #dc1212;
}
#titleImgPreview {
  max-width: 83%;
  max-height: 215px;
}
.flex_container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 95%;
  margin: auto;
}

#card_bounty {
}
/*----------------------report form-------------------------*/
#report_form {
  text-align: center;
  margin-top: 35px;
}
#image_upload {
  cursor: pointer;
  border: 1px solid black;
  margin-top: 10px;
  padding: 3px;
}
/*---------------------clicked card-------------------------*/

#clickedCardImg {
  width: 100%;
}

#clicked_card {
  padding: 0px !important;
  border-radius: 0px !important;
  margin: auto;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: auto;
  grid-template-areas:
    "lt ct ct ct rt rt"
    ". lm lm rm rm ."
    ". lm lm rm rm ."
    ". . cb cb . .";
}

#left_top {
  grid-area: lt;
  font-size: 17pt;
  background-color: black;
  color: #dbe1d6;
  padding: 10px;
}

#center_top {
  grid-area: ct;
  font-size: 30pt;
  text-align: center;
  background-color: black;
  color: #dbe1d6;
}

#right_top {
  grid-area: rt;
  font-size: 30pt;
  text-align: center;
  background-color: black;
  color: #dbe1d6;
  margin-right: -5px;
}

#left_mid {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  grid-area: lm;
}

#right_mid_description {
  width: 100%;
  padding: 10px;
  grid-area: rm;
  line-height: 2.6;
  font-weight: bold;
  font-size: 15pt;
}

#right_mid_description li {
  list-style-type: none;
}

#right_mid_after {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  grid-area: rm;
}

#center_bottom {
  grid-area: cb;
  text-align: center;
  margin-bottom: 20px;
}

/*-----------------------------confirm tool-----------------------------*/

#confirm_diplay {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  text-align: center;
  font-weight: bold;
}

#confirm_img {
  width: 100%;
}

#confirm_display,
figure {
  width: 33.33%;
}

#confirm_button {
  width: 17%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17pt;
}

/*--------------------------edit tool-----------------------------------*/

#edit_div {
  margin: auto;
  text-align: center;
  margin-top: -3%;
  font-size: 14pt;
}

#back_to_card {
  font-size: 16pt;
  margin-left: 48px;
}

/*--------------------------clean tool-----------------------------------*/

#clean_form {
  text-align: center;
}

#clean_directions {
  width: 50%;
  margin: auto;
  padding: 10px;
  font-size: 14pt;
  font-weight: bold;
}

/*--------------------------trash preview-----------------------------------*/

#preview_div {
  width: 30%;
  margin-bottom: 10px;
  margin-left: 42%;
}

#preview_image {
  margin-left: 6%;
  max-width: 83%;
  max-height: 215px;
  margin-top: -10px;
}
