// General //

// Login Page //

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
nav a {
  color: black;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.trash-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
.trophy-img {
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.trash-button:hover {
  background-color: #d1dfe8;
}

.login-form {
  justify-content: space-around;
}
.insufficient {
  background-color: red;
  display: inline-block;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1528190336454-13cd56b45b5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1 {
  background-image: url("https://cdn.pixabay.com/photo/2017/10/31/21/26/brick-2906556_960_720.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#aboutBody {
  padding: 20px;
  background-color: #264541;
  color: white;
}
.map {
  width: 100vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#aboutBody {
  background-color: #254540;
  color: whitesmoke;
  padding: 40px;
}

.aboutHeading {
  font-weight: bold;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1.5em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

#guestCredentialsLogin {
  text-align: left;
  margin-left: 278px;
}
