// General //

// Login Page //

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
nav a {
  color: black;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.trash-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
.trophy-img {
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.trash-button:hover {
  background-color: #d1dfe8;
}

.login-form {
  justify-content: space-around;
}
.insufficient {
  background-color: red;
  display: inline-block;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1528190336454-13cd56b45b5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1 {
  background-image: url("https://cdn.pixabay.com/photo/2017/10/31/21/26/brick-2906556_960_720.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  width: 100vw;
}
